/*noinspection CssUnusedSymbol*/
.root {
    -fx-font-size: 10pt;
    -fx-font-family: "Garamond";
    -fx-base: whitesmoke;
    -fx-background: rgb(24, 25, 32);
}

.colored-toggle-switch .label {
    -fx-text-fill: whitesmoke;
}