<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>LOG_PATH</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE" class="ch.qos.logback.core.FileAppender">
                <file>${LOG_PATH}5p1d3r.log</file>
                <append>true</append>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d [%thread] %level %logger{35} - %msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>
    <logger name="com.github.adamyork.fx5p1d3r" level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SIFT"/>
    </logger>
    <root level="info">
    </root>
</configuration>